#formEl,
#login-form {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  text-align: center;
}
.input {
  width: 240px;
  margin-top: 5px;
  padding: 2px 3px 2px 3px;
  border-radius: 4px;
  border: 2px solid lightsteelblue;
}
.button {
  margin-top: 5px;
  border: 2px solid lightcyan;
  border-radius: 4px;
  background-color: cornflowerblue;
}
.button:hover {
  margin-top: 5px;
  border: 2px solid cornflowerblue;
  border-radius: 4px;
  background-color: lightcyan;
}

.hide {
  display: none;
}

.alert {
  width: 240px;
  border: 2px solid darkred;
  background-color: red;
  text-align: center;
}
.accept {
  text-align: center;
  width: 240px;
  height: 104px;
  padding-top: 88px;
  border: greenyellow solid 2px;
  background-color: lemonchiffon;
}
#main_container {
  display: flex;
  justify-content: center;
}
